@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #f0fff0;
}

/* Header Section Start  */
.header-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px 0 200px;
}
.logo img {
  width: 198px;
  height: 59px;
}
.nav-bar {
  display: flex;
  align-items: center;
  gap: 38px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.nav-bar a {
  text-decoration: none;
  padding: 5px;
  color: #000000;
}

#signin {
  padding: 12px 28px;

  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #21b573;
  color: #ffff;
  border-radius: 33px;

}

/* Header Section End  */

/* hero  Section  Start */
.hero-section {
  display: flex;
  height: 100%;
  padding: 0 200px;
  margin-top: 100px;
}
.hero-section-left {
  height: 100%;
}
.hero-section-left h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fd511a;
  width: 190px;
  height: 25px;
}
.hero-section-left h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  color: #000000;
  width: 405px;
  height: 140px;
  margin-top: 10px;
}

.hero-section-left span {
  color: #21b573;
}
.hero-section-left p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #6c6b6b;
  width: 405px;
  height: 85px;
  margin-top: 20px;
}

.hero-section-right {
  height: 100%;
}
.hero-section-right img {
  width: 554px;
  height: 346px;
}

.btn {
  border: none;
  margin-top: 15px;
  background: #21b573;
  border-radius: 33px;
  align-items: center;
  padding: 12px 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffff;
}

/* hero  Section  End */


/*info Section Started */
.info {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 42px 135px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f8fffb;
  border-radius: 10px;
  width: 270px;
  height: 270px;
}
.info-item:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.info-item img {
  width: 70px;
  height: 80px;
}
.info-item h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #413960;
}
.info-item p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}

/*info Section  End */


/* Online Courses Section  Started */

.online-course h2{
  margin-top: 105px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #413960;
margin-bottom: 55px;
}

.card{
  display: flex;
  justify-content: center;
}


.card-img{
  width: 330px;
  height: 235px;
  margin: 24px 20px;
}

.course-card{
  width: 370px;
  height: 483px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin: 0 15px;
}

.course-card h4{
  margin-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #413960;
}

.course-card p{
  margin-left: 20px;
  margin-top: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}

.course-card button{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
border: none;
padding: 8px 28px;
background: #21B573;
border-radius: 33px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;

}
.icon-list{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.icon-item{
  display: flex;
}
.icon-item img{

  width: 24px;
height: 24px;
}
.icon-item p{

  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #585859;
margin-left: 0;
}

/* Online Courses Section  End */


/* Testimonial Section Started */

.testimonial h2{
  text-align: center;
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
color: #000000;
margin-top: 120px;
margin-bottom: 70px;
}


.testimonial-client{
 display: flex;
 justify-content: center;
 margin-bottom: 120px;
}


.testimonial-client img{
  width: 120px;
  height: 120px;
}

.testimonial-client p{
  display: flex;
 
  align-items: center;
  width: 580px;
 
  margin-left: 50px;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #000000;
}

/* Testimonial Section End */



footer{
  background: #282531;
  height: 370px;
  width: 100%;
}
.li-item{
  display: flex;
  padding-top: 50px;
}
.li-item-one{
  width: 366px;
  height: 60px;
  margin-left: 140px;
  margin-right: 125px;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;

}

.li-item-two{
  list-style-type: none;
  margin-right: 100px;
}

.li-item-two h3{
  font-family: Poppins;
font-weight: 700;
font-style: normal;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
}

.li-item-two li{
  font-family: Poppins;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
}

footer h5{
  margin-top: 75px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
 color: #CDCDCD;
  
}